@use '../variables.scss' as *;
@use '../mixins/mixins' as *;

.courses__card {
    margin: 0 auto;
    width: 100%;
    border: 1px solid $gray300;
    box-shadow: 0px 30px 40px $gray400;
    border-radius: 4px;
    cursor: pointer;
                    @media (max-width: 480px) {
            width: 70vw;
        }
    
    transition: transform 0.2s ease;
    &:hover {
        transform: translateY(-2px);
    }
    &__image{
        width: 100%;
    }
    &__desc {
        margin: 17px 23px 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__tags-list {
            display: flex;
            flex-direction: row;
            gap: 20px;
        }
        &__tags-item {
            padding: 1px 8px;
            color: white;
            border-radius: 4px;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
        }
        &__footer {
            display: flex;
            margin-top: -2px;
            gap: 7px;
            &__price {
                font-weight: 700;
                font-size: 18px;
                color: $danger;
            }
            &__author {
                color: $gray700;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}
