@use '../variables.scss' as *;
@use '../mixins/mixins' as *;

.navigation{
  margin: 85px auto 0;
  display: flex;
  flex-direction: row; 
  gap: 100px;
  &__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 815px;
    gap: 11px;
  }
  &__item{
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: $gray600;
    padding: 3px 20px 10px;
    border: 1px solid #fff;
    border-radius: 4px;
    white-space: nowrap;
    &.active, &:hover{
      color: $primary;
      border: 1px solid $primary;
    }
  }
  &__count{
    font-weight: 900;
    font-size: 10px;
    text-align: start;
    vertical-align: text-bottom
  }
  &__search{
    max-width: 20vw;
    width: 315px;
    border: 1px solid $gray400;
    border-radius: 4px;
    color: $gray600;
    font-size: 14px;
    padding: 10px 0 10px 15px;
    background: url('/svg/search.svg') no-repeat 15px 15px;
    background-position-x: 95%;
  }
}