@use 'variables' as *;
@use 'base/reset';

@use './layout/container';

@use './components/header.scss';
@use './sections/navigation-menu.scss';
@use './sections/courses.scss';



body {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 150%;
    font-size: 20px;
    overflow-x: hidden;
}
